.{
  padding: 0;
  margin: 0;
} 
body{
  background-color:lightgoldenrodyellow;
}
.flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.h3{
  font-size: small;
  font-family: serif;
  color: black;
  font-weight: 100;
}
.h1{
  font-weight: bolder;
  text-indent: ;
  
}
#description{
  align-items: center;
  border: solid 1px;
  /* box-sizing: border-box; */
  width: 268px;
  height: 378px;
  background-color: white;
  text-align: center;
  border-radius: 0px 10px 10px 0px;

  }
#Cart{
  align-items: center;
  border: solid 1px;
  width: 268px;
  height: 378px;
  border-radius:10px 0px 0px 10px;
  }
  .button{
    background-color: #006400;
    color: white;
    width: 200px;
    height: 37px; 
    border-radius: 8px;
    

  }
  span{
    text-decoration: line-through;
    color: black;
    font-size: smaller;
    font-style: normal;

  }
  h4{
    color: #006400;
    font-weight:bold;
    font-size: larger;

  }


